body {
  background-color: #1d1b1b;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
}

.download-button {
  background-color: #d9534f; /* Estilo de peligro - Puedes cambiar el color según tus preferencias */
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #c9302c; /* Cambia el color al pasar el mouse sobre el botón */
}
